.btn {
    display: block;
    background: #aaaaaa;
    color: #ff6a00;
    border: 0px;
    outline: 0px;
    font-family: roboto;
    background: none;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 5px;
    cursor: pointer;
}
    .btn.btn-down-left {
        position: absolute;
        bottom: 8%;
    }
    .btn.btn-down-right {
        position: absolute;
        bottom: 8%;
    }
.btn:hover
{
        transition:0.1s;
    color:#20fbee;
    background:white;
    border:1px solid white;
    box-shadow:0px 0px 4px;

}
.btn.btn-inline
{
    display:inline-block;
    position:static;
}
